<template>
  <div class="home">
    <h1>Home</h1>
    <button @click="logout">Logout</button>
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue'
import firebase from '@/firebaseConfig.js'

export default {
  name: 'Home',
  components: {
    HelloWorld
  },
  methods: {
    logout(){
      firebase.auth().signOut()
        .then(() => {
          console.log("Logout feito com sucesso!")
          this.$router.replace({name: 'Login'})
        })
        .catch((err) => {
          console.log("Erro: ", err)
        })
    }
  }
}
</script>
