<template>
   <div class="login">
      <h1>Login</h1>
      <input type="text" placeholder="Email" v-model="email">
      <br>
      <input type="password" placeholder="Senha" v-model="senha">
      <br>
      <div class="btn-login">
         <button @click="login">Login</button>
      </div>
      <p>
         Você não tem conta?
         <router-link :to="{name: 'SignUp'}">Criar uma conta</router-link>
      </p>
   </div>
</template>

<script>
import firebase from '@/firebaseConfig.js'

export default {
   name: "Login",
   data(){
      return{
         email: "",
         senha: ""
      }
   },
   methods:{
      login(){
         firebase.auth().signInWithEmailAndPassword(this.email, this.senha)
            .then(
               (user) => {
                  this.$router.replace({name: 'Home'})
                  console.log("Usuário logado com sucesso!")
               },
               (err) => {
                  alert('Naõ foi possível realizar o login. ' + err.message)
               }
            )
      }
   }
}
</script>