<template>
   <div class="sign-up">
      <h1>Crie uma nova conta</h1>
      <input type="text" placeholder="Email" v-model="email">
      <br>
      <input type="password" placeholder="Senha" v-model="senha">
      <br>

      <div>
         <button @click="signup">Registrar</button>
      </div>

      <p>
         <router-link :to="{name: 'Login'}">Retornar ao Login</router-link>
      </p>
   </div>
</template>

<script>
import firebase from '@/firebaseConfig.js'
export default {
   data(){
      return{
         email: "",
         senha: ""
      }
   },
   methods:{
      signup(){
         firebase.auth().createUserWithEmailAndPassword(this.email, this.senha)
            .then((user) => {
                  this.$router.replace({name: 'Login'})
               })
            .catch((err) => {
               console.log("Erro em SignUp.vue: ", err)
            })
      }
   }
}
</script>